[run]
omit =
    */tests/__init__.py
    */_compat.py
    */__init__.py
    */__about__.py


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def parse_args
